*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.contenedor{
    padding:60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:#642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* Header */

header{
    width: 100%;
    height: 600px;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.479), hsla(317, 45%, 52%, 0.658)), url(../img/fondo.jpg);
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.479), hsla(317, 45%, 52%, 0.658)), url(../img/fondo.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0; 
}

nav > a{
    color:#fff;
    /* hacer mas lijera */
    font-weight:300;
    /* quitarle el subrayado*/
    text-decoration: none;
    /* separar uno del otro*/ 
    margin-right: 10px;
}

nav > a:hover{
    /* para cuando pase por ensima de las palabras se subrayen*/
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    /* para centrarlos verticalmente*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    /* para que sea mas ligero*/
    font-weight: 300;
    color: #fff;
}

/* ABOUT US*/

.contenedor-sobre-nosotros{
    display: flex;
    /* para que reparta el espacio equitativamente*/
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    /* para que sea redondo*/
    border-radius: 50%;
    /*para que tenga propiedad de bloque*/
    display: inline-block;
    /* para que este centrado en el contorno*/
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    /*para que tenga un sombreado*/
    box-shadow: 0 0 6px 0 rgba(0, 0, 0,.5);
    /*para que no se le pege tanto al h3*/
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */
.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    /* para que no se adjunten todas las imagenes*/
    flex-wrap: wrap;
}

.imagen-port{
     width: 24%;
     height: 200px;
     margin-bottom: 10px;
     overflow: hidden;
     position: relative;
     cursor: pointer;
     box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.imagen-port >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/*Clientes*/
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items:center;
    justify-content: space-evenly;
    border-radius:5px ;
    box-shadow:0 0 6px rgba(0, 0, 0 , 0.6);
}

.cards .card img{
    width: 90%;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    /*para que se haga redonda*/
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards.card > .contenido-texto-card p{
    font-weight:300;
    padding-top: 5px ;
}

/* our team */
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.servicio-ind{
    width: 28%;
    text-align: center;
    
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align:justify;
}

/* footer*/

footer{
    background: #414141;
    padding: 60px 0 30px  0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom:50px ;
    border-bottom:1px solid #ccc ;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #ffff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin:  20px 0 0 0;
    color: #9e9797;
    
     
}

